* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body, html {
  font-size: 15px;
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif;
  color: #727070;
  background: #161616;
}

a {
  text-decoration: none;
}

header .header__top .header__bar {
  outline: none;
  font-size: 36px;
  padding: 8px 16px;
  display: block;
  margin-left: auto;
  background: #222222;
  border: none;
  color: #727070;
  cursor: pointer;
  -webkit-transition: all .5s;
  transition: all .5s;
}

header .header__top .header__bar:hover {
  background: #353434;
}

header .header__bottom {
  text-align: center;
}

header .header__bottom h1 {
  font-size: 36px;
  margin: 10px 0;
}

header .header__bottom p {
  margin: 15px 0;
  font-weight: bold;
}

header .header__bottom .header__toggle, header .header__bottom .header__download {
  padding: 15px 16px;
  background: #353434;
  color: white;
  font-weight: bold;
  outline: none;
  border-radius: 10px;
  border: none;
  margin: 16px 0;
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 0px 0px #2e2e2e;
          box-shadow: 0px 4px 0px 0px #2e2e2e;
  -webkit-transition: all .3s;
  transition: all .3s;
}

header .header__bottom .header__toggle:hover, header .header__bottom .header__download:hover {
  background: #353434;
}

header .header__bottom .header__download--animate {
  -webkit-animation: ClickInOut .3s linear;
          animation: ClickInOut .3s linear;
}

@-webkit-keyframes ClickInOut {
  from {
    -webkit-box-shadow: 0px 0px 0px 0px #2e2e2e;
            box-shadow: 0px 0px 0px 0px #2e2e2e;
    -webkit-transform: translateY(4px);
            transform: translateY(4px);
  }
  to {
    -webkit-box-shadow: 0px 4px 0px 0px #2e2e2e;
            box-shadow: 0px 4px 0px 0px #2e2e2e;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes ClickInOut {
  from {
    -webkit-box-shadow: 0px 0px 0px 0px #2e2e2e;
            box-shadow: 0px 0px 0px 0px #2e2e2e;
    -webkit-transform: translateY(4px);
            transform: translateY(4px);
  }
  to {
    -webkit-box-shadow: 0px 4px 0px 0px #2e2e2e;
            box-shadow: 0px 4px 0px 0px #2e2e2e;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.imageAll {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.imageAll .imageAll__item img {
  width: 100%;
  height: 100%;
  display: block;
}

.imageAll .imageAll__item:first-of-type {
  -ms-grid-row: 1;
  -ms-grid-row-span: 7;
  grid-row: 1 / span 7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / span 1;
}

.imageAll .imageAll__item:nth-of-type(2) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
}

.imageAll .imageAll__item:nth-of-type(3) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / span 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / span 1;
}

.imageAll .imageAll__item:nth-of-type(4) {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / span 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
}

.imageAll .imageAll__item:nth-of-type(5) {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 / span 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / span 1;
}

.imageAll .imageAll__item:nth-of-type(6) {
  -ms-grid-row: 4;
  -ms-grid-row-span: 3;
  grid-row: 4 / span 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
}

.imageAll .imageAll__item:nth-of-type(7) {
  -ms-grid-row: 4;
  -ms-grid-row-span: 4;
  grid-row: 4 / span 4;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / span 1;
}

.imageAll .imageAll__item:nth-of-type(8) {
  -ms-grid-row: 7;
  -ms-grid-row-span: 2;
  grid-row: 7 / span 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / span 1;
}

.imageAll .imageAll__item:nth-of-type(9) {
  -ms-grid-row: 6;
  -ms-grid-row-span: 3;
  grid-row: 6 / span 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
}

.imageAll .imageAll__item:nth-of-type(10) {
  -ms-grid-row: 7;
  -ms-grid-row-span: 4;
  grid-row: 7 / span 4;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / span 1;
}

.imageAll .imageAll__item:nth-of-type(11) {
  -ms-grid-row: 9;
  -ms-grid-row-span: 1;
  grid-row: 9 / span 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / span 1;
}

.imageAll .imageAll__item:nth-of-type(12) {
  -ms-grid-row: 9;
  -ms-grid-row-span: 7;
  grid-row: 9 / span 7;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
}

.imageAll .imageAll__item:nth-of-type(13) {
  -ms-grid-row: 10;
  -ms-grid-row-span: 5;
  grid-row: 10 / span 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / span 1;
}

@media screen and (max-width: 576px) {
  .imageAll {
    display: block;
  }
}

.imageItem--gap {
  margin-bottom: 10px;
  margin-right: 10px;
}

.imageAll--gap {
  padding-left: 10px;
}

.navBarFullScreen {
  position: fixed;
  width: 100vw;
  height: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.863);
  overflow: hidden;
  -webkit-transition: all .6s;
  transition: all .6s;
}

.navBarFullScreen ul {
  margin-top: 10%;
}

.navBarFullScreen ul li {
  font-size: 36px;
  padding: 1rem 0;
  text-align: center;
}

.navBarFullScreen ul li:hover a {
  color: white;
}

.navBarFullScreen ul li a {
  color: #727070;
  -webkit-transition: all .3s;
  transition: all .3s;
  display: block;
}

.navBarFullScreen .navBarFullScreen__closedIcon {
  position: absolute;
  font-size: 36px;
  font-weight: bold;
  color: white;
  right: 3%;
  top: 0;
  cursor: pointer;
  -webkit-animation: zoom 3s linear infinite;
          animation: zoom 3s linear infinite;
}

.navBarFullScreen--hide {
  height: 100vh;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes zoom {
  from {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

.progress {
  width: 100%;
}

.progress .progress__tab {
  background-color: rgba(43, 42, 42, 0.699);
  width: 50%;
  margin: 0 auto;
  border-radius: 10px;
  position: relative;
}

.progress .progress__tab span {
  color: transparent;
}

.progress .progress__tab .progress__present {
  width: 0;
  height: 100%;
  background-color: white;
  border-radius: 10px;
  position: absolute;
  -webkit-transition: all 8s;
  transition: all 8s;
  top: 0;
}

.progress .progress__tab .progress__present .progress__text {
  position: absolute;
  display: inline-block;
  top: -110%;
  right: 0;
}
/*# sourceMappingURL=main.css.map */