*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body,html{
    font-size: 15px;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
    color: $color-gray;
    background: $color-Bg;
}
a{
    text-decoration: none;
}