header{
    .header__top{
        .header__bar{
           outline: none;
           font-size: 36px;
           padding: 8px 16px;
           display: block;
           margin-left: auto;
           background: $color-gray-2;
           border: none;
           color: $color-gray;
           cursor: pointer;
           transition: all .5s ;
           &:hover{
                background: $color-gray-3;
           }
        }
    }
    .header__bottom{
        text-align: center;
        h1{
            font-size: 36px;
            margin: 10px 0;
        }
        p{
            margin: 15px 0;
            font-weight: bold;
        }
        .header__toggle,.header__download{
            padding: 15px 16px;
            background: $color-gray-3;
            color:white;
            font-weight: bold;
            outline: none;
            border-radius: 10px;
            border: none;
            margin: 16px 0;
            cursor: pointer;
            box-shadow: 0px 4px 0px 0px #2e2e2e;
            transition: all .3s;
            &:hover{
                background: $color-gray-3;
            }
          
        }
        .header__download--animate{
            animation: ClickInOut .3s linear;
        }
    }
}
@keyframes ClickInOut{
    from{
       box-shadow: 0px 0px 0px 0px #2e2e2e;
        transform: translateY(4px);
    }to{
        box-shadow: 0px 4px 0px 0px #2e2e2e;
        transform: translateY(0);
    }
}