.imageAll{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    .imageAll__item{
        img{
            width: 100%;
            height: 100%;
            display: block;
        }
        &:first-of-type{
            grid-row: 1 / span 7;
            grid-column: 1 / span 1;
        }
        &:nth-of-type(2){
            grid-row: 1 / span 2;
            grid-column: 2 / span 1;
        }
        &:nth-of-type(3){
            grid-row: 1 / span 1;
            grid-column: 3 / span 1;
        }
        &:nth-of-type(4){
            grid-row: 3 / span 1;
            grid-column: 2 / span 1;
        }
        &:nth-of-type(5){
            grid-row: 2 / span 2;
            grid-column: 3 / span 1;
        }
        &:nth-of-type(6){
            grid-row: 4 / span 3;
            grid-column: 2 / span 1;
        }
        &:nth-of-type(7){
            grid-row: 4 / span 4;
            grid-column: 3 / span 1;
        }
        &:nth-of-type(8){
            grid-row: 7 / span 2;
            grid-column: 1 / span 1;
        }
        &:nth-of-type(9){
            grid-row: 6 / span 3;
            grid-column: 2 / span 1;
        }
        &:nth-of-type(10){
            grid-row: 7 / span 4;
            grid-column: 3 / span 1;
        }
        &:nth-of-type(11){
            grid-row: 9 / span 1;
            grid-column: 1 / span 1;
        }
        &:nth-of-type(12){
            grid-row: 9 / span 7;
            grid-column: 2 / span 1;
        }
        &:nth-of-type(13){
            grid-row: 10 / span 5;
            grid-column: 1 / span 1;
        }
    }
    @include responsive("sm"){
        display: block;
    }
}
.imageItem--gap{
    margin-bottom: 10px;
    margin-right: 10px;
}
.imageAll--gap{
  padding-left:10px;
}