.navBarFullScreen{
    position: fixed;
    width: 100vw;
    height: 0;
    top:0;
    background-color: $color-black-1;
    overflow: hidden;
    transition: all .6s;
    ul{
        margin-top: 10%;
        li{
            font-size: 36px;
            padding: 1rem 0;
            text-align: center;
            &:hover{
                a{
                    color: white;
                }
            }
            a{
                color: $color-gray;
                transition: all .3s;
                display: block;
            }
        }
    }
    .navBarFullScreen__closedIcon{
        position: absolute;
        font-size: 36px;
        font-weight: bold;
        color: white;
        right: 3%;
        top: 0;
        cursor: pointer;
        animation: zoom 3s linear infinite;
    }
  
}
.navBarFullScreen--hide{
    height: 100vh;
}
@keyframes zoom{
    from{
        transform: scale(0.5);
    }to{
        transform: scale(1.2);
    }
}