.progress{
    width: 100%;
   .progress__tab{
    background-color: rgba(43, 42, 42, 0.699);
    width: 50%;
    margin: 0 auto;
    border-radius: 10px;
    position: relative;
    span{
        color: transparent;
    }
    .progress__present{
        width: 0;
        height: 100%;
        background-color: white;
        border-radius: 10px;
       position: absolute;
       transition: all 8s;
       top: 0;
       .progress__text{
        position: absolute;
         display: inline-block;
         top: -110%;
         right: 0;
     }
    }
    
   }
}