$color-Bg:rgb(22, 22, 22);
$color-gray:rgb(114, 112, 112);
$color-gray-2:rgb(34, 34, 34);
$color-gray-3:rgb(53, 52, 52);
$color-black:#000;
$color-black-1:rgba(0, 0, 0, 0.863);
//
$breakpoint:(
    "xl":1200px,
    "lg":992px,
    "md":768px,
    "sm":576px,
)